/* Configuración General */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: white;
  background: url('https://wallpapers.com/images/hd/genshin-background-4mz0hwtkkhud7w7z.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Header */
header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

header img {
  width: 300px;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  flex-grow: 1;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #FFD700;
}

/* Tarjetas */
.card {
  background: #1e1e2e;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
}

.card-title {
  font-size: 1.5rem;
  color: #00adb5;
  text-align: center;
  font-weight: bold;
}

.card-text {
  color: #986f1b;
  font-size: 1rem;
  text-align: justify;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

footer img {
  width: 150px;
  margin-bottom: 10px;
}

footer a {
  color: #FFD700;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }
  .card-title {
    font-size: 1.3rem;
  }
}
