/* Configuración General */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: white;
  background: url('https://wallpapers.com/images/hd/genshin-impact-barbara-and-clouds-x7rzvqymepbkk1fw.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Header */
header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

header img {
  width: 250px;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  flex-grow: 1;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #FFD700;
}

/* Contenido principal */
main {
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  color: #FFD700;
}

p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 10px auto;
  color: #ffffff;
}

/* Mapa Interactivo */
.responsive-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
}

.responsive-map-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

footer img {
  width: 150px;
  margin-bottom: 10px;
}

footer a {
  color: #FFD700;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}
